
.blog-card {
    background: linear-gradient(145deg, #1a1a1a, #0f0f0f);
    box-shadow: 0 0 20px rgba(255, 215, 0, 0.2);
    border-radius: 20px;
    padding: 20px;
    margin-bottom: 30px;
    transition: transform 0.3s ease;
}

.blog-card:hover {
    transform: scale(1.02);
    box-shadow: 0 0 30px rgba(255, 215, 0, 0.3);
}


body {
    background-image: url('images/mycryptohub_background.jpg');
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    background-attachment: fixed;
}
